@model SistemaTiendaMVC.Models.VentaProducto

@{
    ViewData["Title"] = "Eliminar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h3>¿Estás seguro de eliminar esta venta?</h3>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.Direccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalProductos)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalProductos)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CantidadPorProducto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CantidadPorProducto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImporteTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImporteTotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImporteRecibido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImporteRecibido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImporteCambio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImporteCambio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>