@model SistemaTiendaMVC.Models.CompraProducto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h3>¿Estás seguro de eliminar esta compra?</h3>
    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Proveedor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Proveedor.Direccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CantidadPorProducto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CantidadPorProducto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaCompra)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaCompra)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>